body{
    background:#939393;
    height: 2000px;
}
.soderj{
            width: 500px;
            height: 1500px;
            background-color: #f90;
            margin:auto;
            margin-top: 1000px;
            margin-bottom: 15px;
        }
        .soderj2{
            width: 500px;
            height: 1500px;
            background-color: #f10;
            margin:auto;
        }
        #scrollToTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        background-color: #30bf48;
        height: 50px;
        width: 50px;
        font-size: 25px;
        font-style: bold;
        text-align: center;
        border-radius: 5px;
}
        @media (max-width: 1200px;){
            #scrollToTop{
                display: none;
            }
        }
        @media (min-width: 1500px; max-width: 1799px;){
            #scrollToTop{
                display: none;
            }
        }
        @media(min-width: 1800px){
            #scrollToTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        background-color: #30bf48;
        height: 50px;
        width: 50px;
        font-size: 25px;
        font-style: bold;
        text-align: center;
        border-radius: 5px;
        }